*{
    margin:0;
}

main{
    width: 1200px;
    height: 500px;
    background-color: black;
    display: inline-flex;
    margin-left: 190px;
    margin-top: 130px;
}

.img{
    background-image: url(https://cdn.sanity.io/images/hpvpbfax/production/e261b661e656a59eabf809608249dca5ab7bca9f-480x600.gif);
    background-size: cover;
    width: 400px;
    height: 500px;
    justify-content: center;
}

.text-agrade{
    color: aliceblue;
    float: left;
    width: 800px;
    padding: 15px;
    text-align: justify;
    font-size: 20px;
}

.dev{
    display: block;
    margin-top: 110px;
    padding: 12px;
    width: 200px;
    height: 80px;
    font-size: 21px;
}

.dev h5{
    font-size:25px ;
}
