* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   display: flex;
   align-content: center;
}

.encerramento{
   align-items:center;
   text-align: center;
   align-content: center;
   margin-left: 460px;
   margin-top: 50px;
   justify-content: center;
   width: 1000px;
   height: 800px;
   background-color: #555;
   padding: 10px;
   border-radius: 10px;
}

.img{
   align-items: center;
   text-align: center;
   align-content: center;
   background-image: url(https://i.redd.it/2hpnvwaas4t21.png);
   width: 450px;
   height: 400px;
   margin-left: 140px;

}


#txt-GO {
   font-size: 70px;
   width: 800px;
   padding: 5px;
   font-family: 'VT323', monospace;
   background-color: #8a3f87;
   color: aliceblue;
   border-radius: 300px;
   margin-left: 90px;
}

#btn-menu {
   padding: 20px;
   color: white;
   background-color: #613434f5;
   position: absolute;
   top: 300px;
   left: 650px;
   border-radius: 300px;
   margin-top: 470px;
   margin-left: 195px;
   border: none;
}

#btn-menu:hover {
   background-color: black;
}

.pego{
   font-size: 35px;
   font-family: 'VT323', monospace;
   color: aliceblue;
}

.pego-2{
   font-family: 'VT323', monospace;
   font-size: 80px;
   color: aliceblue;


}
