body {
  margin: 0;
  background-color: #555;
}

table {
  border-collapse: collapse;
  font-size: 20px;
  font-family: monospace;
  text-align: center;
  background-color: white;
  margin-left: 150px;
  margin-top: 15px;
  width: 800px;
  height: 800px;
  letter-spacing: 5px;
}
td {
  width: 30px;
  height: 20px;
  padding: 0;
  margin: 0;
}

#container-txt {
  position: absolute;
  bottom: 500px;
  left: 300px;
  width: 370px;
  height: 155px;
  margin-left: 470px;
  background-color: #555;
  border-radius: 15px;
}

#txtFase2 {
  position: absolute;
  text-align: center;
  top: 0px;
  font-size: 120px;
  padding: 20px;
  color: #8a3f87;
  font-family: "VT323", monospace;
}

div #txt2Fase2 {
  position: absolute;
  top: 120px;
  left: 70px;
}
.txe {
  color: white;
}

#door {
  color: #241714;
}

#door2 {
  color: #241714;
}

#door3 {
  color: #241714;
}

#key {
  color: darkgoldenrod;
}

#key2 {
  color: darkgoldenrod;
}

#key3 {
  color: darkgoldenrod;
}

#thorn {
  color: #5a3226;
}

#lives {
  color: red;
  font-size: 35px;
  position: absolute;
  font-family: "VT323", monospace;
  top: 70px;
  left: 400px;
}
